.navbar{
    align-items: center;
    background-color: #1d0623;
    color:white;
    display: flex;
    height: 5rem;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index:10;
}

.logo{
    font-size: 1.5em;
    font-family: "Jersey 25";
    margin-inline-start: 1rem;
}
.d{ color: #2e98e2}
.a{ color: #4cc1a6}
.n{ color: #fdc33e}
.h{ color: #f39498}

.box-icon-nav{
    align-items: center;
    display: flex;
    height: 100%;
    margin-inline-end:0.5rem;
}

.item-icon{
    align-items: center;
    display: flex;
    height: 100%;
    margin-inline:0.5rem;
}
.icon{
    align-items: center;
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0;
    margin:0;
}