---
import Image from "astro/components/Image.astro"
import Img from "./../../assets/img/avatar.jpg";
---
<div class="box-avatar">
    <figure>
        <Image class="avatar" src={Img} alt="perfil" width="100" height="100"/>
    </figure>
    <h1 class="name"><span class="code">&lt;</span><span class="tag">h1</span><span class="code">&gt;</span>¡Hola! Soy Danh<span class="code">&lt;</span><span class="code">/</span><span class="tag">h1</span><span class="code">&gt;</span></h1>    
</div>
 
<style>
    .box-avatar{
        position: relative;
        height: 4em;
        width: 100%;
    }

    .avatar{
        border-radius: 50%;
        border: 2px solid #C7ACCE;
        height: 4em;
        position: absolute;
        top: -2em;
        margin-inline-start: calc(50% - 2em);
        width: 4em;
    }
    .name{
        animation: 
            typing 3.5s steps(24, end),
            blink-caret .75s step-end infinite;
        border-inline-end: 0.15em solid #f7e48c;
        color: white;
        font-family: "Source Code Pro", monospace;
        font-optical-sizing: auto;
        font-weight:bold;
        font-style: normal;
        font-size: 16px;
        letter-spacing: 2px;
        margin-inline: auto;
        margin-block-start: 2.5em;
        overflow: hidden;
        text-align: center;
        white-space:nowrap;
        width:fit-content;
    }
    .code{color:#2c98e0}
    .tag{color:#6DA390}

    @keyframes typing {
        from { width: 0 }
        to { width: 70% }
    }   
    @keyframes blink-caret {
    from, to { border-color: transparent }
        50% { border-color: orange; }
    }
    @media(width >310px){
        .box-avatar{
            .box-avatar
            height: 8em;
            }
            .avatar{
                height: 6em;
                width: 6em;
                top: -4em;
                margin-inline-start: calc(50% - 3em);
            }
            .name{
            font-size: 1.1em;
            margin-block-start: 2.5em;
            position: relative;
            }
            @keyframes typing {
            from { width: 0 }
            to { width: 80% }
            } 
    }
    @media (width > 420px){
        .box-avatar{
            height: 8em;
        }
        .avatar{
            height: 10em;
            width: 10em;
            top:-5em;
            margin-inline-start: calc(50% - 5em);
        }
        .name{
            font-size: 1.5em;
            margin-block-start: 5.5rem;
        }
    }
</style>