---
import Linux from './skill/linux.astro';
import Html from './skill/html.astro'; 
import Css from './skill/css.astro';
import Js from './skill/js.astro';
import Ast from './skill/houston.astro';
import Arduino from './skill/arduino.astro';
import C from './skill/c.astro';
---

<nav class="box-skil">
    <li class="item-skil"><Html/></li>
    <li class="item-skil"><Css/></li>
    <li class="item-skil"><Js/></li>
    <li class="item-skil"><Ast/></li>
    <li class="item-skil"><Linux/></li>
    <li class="item-skil"><Arduino/></li>
    <li class="item-skil"><C/></li>
</nav>