@charset "UTF-8";
*{
    margin:0;
    padding: 0;
}
html{
    font-size: 10px;
    color-scheme: light-dark;
}
body{
    min-height: 100dvh;
    font-size: 16px;
}
h1,h2,h3,h4,h5,h6{
    text-wrap: balance;
}
p{
    text-wrap: pretty; 
}
a{
    color: inherit;
    text-decoration: none;
}
ul,ol,li{
    list-style-type: none;
    padding: 0;
}

svg{
    height: 1.8em;
    width: 1.8em;
}

@font-face {
    font-family:"Jersey 25";
    src: url("./../fonts/Jersey_25/Jersey25-Regular.ttf");
}