---
import Base from './../layouts/Layout.astro';
import { Image } from 'astro:assets';
import E404 from './../assets/img/E404.gif';
---
<Base>
    <main class="box-E404">
        <h1 class="title-404">ERROR 404 - ESTA PAGINA TAL VEZ JAMAS EXISTIO</h1>
        <figure class="box-img-404">
            <Image quality="max" loading="lazy" class="img-404" src={E404} alt="Error 404 - esta pagina no existe" inferSize/>
        </figure>
    </main>
</Base>

<style>
    main{
        flex-grow: 1;
        min-height: 40dvh;
        text-align: center;
        color:white;
        font-family: 'Source Code Pro';
    }
    .title-404{
        font-weight: bold;
        font-size: 2em;
    }
    .box-img-404{
        height: auto;
        width: 90%;
        margin-inline:auto;
        margin-block:1em;
    }
    .img-404{
        width: 100%;
        height: 100%;
        border-radius:10px;
    }
</style>