---
import Gitlab from "./social/gitlab.astro";
import Github from "./social/github.astro";
import "./../../assets/css/header.css";
---
<nav class="navbar">
    <h2 class="logo">
        <span class="d">D</span>
        <span class="a">A</span>
        <span class="n">N</span>
        <span class="h">H</span>
    </h2>
    <ul class="box-icon-nav">
        <li class="item-icon"><a class="icon" href="https://www.gitlab.com/98danh"><Gitlab/></a></li>
        <li class="item-icon"><a class="icon" href="http://github.com/deltronik"><Github/></a></li>
    </ul>
</nav>