---

---
<footer>
    <div class="form">
        <form name="contact" netlify>
            <p>
              <label>nombre <input type="text" name="name" /></label>
            </p>
            <p>
              <label>Email <input type="email" name="email" /></label>
            </p>
            <p>
              <button type="submit">Enviar</button>
            </p>
          </form>
    </div>
    <div class="author">
        <p class="make">Echo con <span class="love">&hearts;</span> by DANH</p>        
        <p class="creative-commons">  This work © 2024 by DANH is licensed under CC BY-NC-ND 4.0. To view a copy of this license, visit <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">by-nc-nd 4.0</a></p>
    </div>
</footer>