---
import Nav from './header/navbar.astro';
---
<header>
    <Nav/>
    <div class="img-front"></div>
</header>
<style>
    header{
        position: relative;
        height: 13em;
        width:100%;
    }
    .img-front{
        background-color: #1d0623;
        background-image: url('./../assets/img/back.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position:bottom;
        display: flex;
        height: 100%;
        width: 100%;
    }
    @media(width > 420px){
        header{
            height: 15em;
        }
        .img-front{
            background-size: 100% 100%;
            background-origin: border-box;
        }
    }
    @media(width > 569px){
        header{
            height:15em;
        }
    }
</style>