---
import Avatar from './main/avatar.astro';
import Skill from './main/skill.astro';
import './../assets/css/main.css';
---
<main>
    <section class="box-content">
        <Avatar/>
        <p class="about">
            Me desempeño como técnico de soluciones, cuento con estudios en electronica, electricidad
            y otras areas de ingenieria y actualmente me encuentro estudiando sitemas.
            Me considero una persona creativa, versátil y altamente capacitada en diversas áreas
            áreas técnicas y algunas habilidades blandas.
        </p>
        <div class="skil">
            <h2 class="title-two">Habilidades</h3>
            <Skill/>
        </div>
        <!--        <div class="project">
            <h2 class="sect-title">Proyectos</h2>
                <article class="box-project">
                    <h3 class="title-project">ClockChess</h3>
                    <p class="description-project">Este es un reloj profesional de Ajedrez que es muy útil tanto en clubes como para su uso en casa para hacer torneos de partidas rápidas. En un rápido análisis ...</p>
                </article>
        </div>-->
    </section>
</main>
<style>