<svg  viewBox="0 0 256 256" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="256" height="256" rx="60" fill="#242938"/>
    <path d="M127.999 220.001L165.561 106.809H90.4414L127.999 219.997V220.001Z" fill="#E24329"/>
    <path d="M127.999 220.001L90.4413 106.809H37.8003L127.999 219.997V220.001Z" fill="#FC6D26"/>
    <path d="M37.8007 106.806L26.3827 141.206C25.3397 144.342 26.4767 147.78 29.2047 149.719L128 220.001L37.8007 106.809V106.806Z" fill="#FCA326"/>
    <path d="M37.8003 106.805H90.4413L67.8173 38.6295C66.6533 35.1235 61.5823 35.1235 60.4203 38.6295L37.8003 106.808V106.805Z" fill="#E24329"/>
    <path d="M128 220.001L165.562 106.809H218.205L128 219.997V220.001Z" fill="#FC6D26"/>
    <path d="M218.203 106.806L229.619 141.206C230.66 144.342 229.519 147.78 226.795 149.719L128 220.001L218.203 106.809V106.806Z" fill="#FCA326"/>
    <path d="M218.202 106.805H165.562L188.184 38.6305C189.349 35.1245 194.419 35.1245 195.581 38.6305L218.205 106.808L218.202 106.805Z" fill="#E24329"/>
</svg>