@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
/*RESET*/
body{margin: 0;padding: 0;font-size: 16px;display: flex;flex-direction: column;background-color: #1d0623;}
main{flex-grow: 1;width: 100dvw;min-height: 100dvh;}img,figure{margin: 0;padding: 0;}
h1,h2,h3,h4,h5,h6{text-wrap: balance;font-size: 16px;font-weight: 300;}
p{text-wrap: pretty;}a{text-decoration: none;color: inherit;}ul,ol,li{list-style-type:none;padding: 0;}li{padding: 0;}
.love{color:#f39498}

/*NavBar*/
.navbar{
    align-items: center;
    background-color: #1d0623;
    color: white;
    display: flex;
    height: 2.8em;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index:10 ;
}

.site-name{
    font-size: 1.4em;
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-inline-start: 0.5em;
}
.one{color: #2e98e2;}.two{color:#4cc1a6}.tree{color:#fdc33e}.four{color:#f39498}

.box-nav{
    align-items: center;
    display: flex;
    height: 100%;
    margin-inline-end: 0.5em;
}
.item-social svg{height: 2em;width: 2em;margin-inline-end: 0.5em;margin-block-start: 5px;}

@media(width > 420px){
    .navbar{
        height: 4em;
    }
    .site-name{
        font-size: 2em;
    }
    .item-social svg{
        height: 2.5em;
        width: 2.5em;
    }   
}

/*Main*/
.title-two{
    color:#d68526;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
/*Footer*/
footer{
    border-block-start: 2px dashed #fdc33e;
    background-color: #1d0623;
    background-image:url('./../img/footer.jpg');
    background-size: 50% 100%;
    background-origin:content-box;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding-block-start: 1em;
    text-align: end;
    width: 100dvw;
}

.form{
    color:white;
    display: flex;
    flex-direction: column;
    font-size: 0.6em;
    margin-inline-start: 50%;
    text-align: start;
    width:130px;
}

.form input{
    width: 120px;
}

.form button{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 128px;
    border-radius: 5px;
    border:0px;
    background-color:#82bebc;
}

.author{
    color:white;
    font-size: 0.6em;
    margin-inline-start: 50%;
    text-align: start;
    width: 45%;
}

@media(width > 420px){
    .form{
        color:white;
        display: flex;
        flex-direction: column;
        font-size: 0.8em;
        margin-inline-start: 50%;
        text-align: start;
        width:200px;
    }
    
    .form input{
        width: 180px;
    }
    
    .form button{
        width: 188px;
    }
    
    .author{
        font-size: 0.8em;
        margin-inline-start: 50%;
        text-align: start;
        width: 180px;
    }
}