.box-content{
    background-color: #c7acce49;
    display: flex;
    flex-direction: column;
    margin-inline:auto;
    width: 100%;
    padding-block-end: 1em;
}
.about{
    color:white;
    font-size: 0.8em;
    font-family: 'Source Code Pro';
    margin-inline:auto;
    text-align: center;
    width: 98%;
}

.skil{
    margin-inline: auto;
    width: 90%;
}

.box-skil{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: wrap;
    margin-block:1em;
    margin-inline: auto;
    width: 70%;
}

.item-skil{
    height: 2.2em;
    width: 2.2em;
    margin-inline:0.2em;
    margin-block: 0.4em;
}

@media(width > 310px){
    .box-content{
        background-color:transparent;
        display: flex;
        flex-direction: column;
        margin-block-end: 1em;
        margin-inline:auto;
        width: 95%;
        padding-block-end: 1em;
    }
    .about{
        color:white;
        font-size: 0.9em;
        font-family: 'Source Code Pro';
        margin-inline:auto;
        text-align: center;
        width: 98%;
    }

    .box-skil{
        width: 80%;
    }

    .item-skil{
        height: 2.3em;
        width: 2.3em;
        margin-block: 0.5em;
    }

}

 @media(width > 420px){
    .box-content{
        width: 90%;
        padding-block-end: 1em;
    }
    .about{
        font-size: 1.1em;
    }

    .box-skil{
        width: 90%;
    }

    .item-skil{
        height: 2.3em;
        width: 2.3em;
        margin-block: 0.5em;
    }

}