<svg viewBox="0 0 256 256" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="256" height="256" rx="60" fill="url(#paint0_linear_206_664)"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M157.719 33.0112C159.353 35.039 160.185 37.7762 161.851 43.2479L198.247 162.809C184.576 155.715 169.903 150.747 154.734 148.077L131.037 67.9971C130.848 67.3583 130.457 66.7977 129.923 66.3993C129.389 66.0009 128.741 65.7861 128.075 65.787C127.408 65.788 126.76 66.0046 126.228 66.4045C125.695 66.8044 125.306 67.3661 125.119 68.0055L101.708 148.037C86.4709 150.694 71.7306 155.67 58 162.791L94.5734 43.221C96.2458 37.7568 97.0803 35.0256 98.714 33.002C100.156 31.2146 102.032 29.8264 104.163 28.9698C106.577 28 109.433 28 115.147 28H141.27C146.991 28 149.851 28 152.267 28.9723C154.4 29.8306 156.277 31.2212 157.719 33.0112Z" fill="#31274A"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M162.074 168.499C156.074 173.63 144.098 177.128 130.304 177.128C113.373 177.128 99.1821 171.857 95.4172 164.769C94.0709 168.832 93.7692 173.481 93.7692 176.452C93.7692 176.452 92.8817 191.037 103.026 201.181C103.026 195.913 107.296 191.643 112.564 191.643C121.592 191.643 121.582 199.52 121.573 205.911V206.481C121.573 216.181 127.501 224.496 135.932 228C134.634 225.329 133.962 222.398 133.966 219.428C133.966 210.177 139.398 206.732 145.71 202.73C150.732 199.545 156.312 196.006 160.158 188.906C162.229 185.082 163.31 180.801 163.303 176.452C163.303 173.679 162.872 171.007 162.074 168.499Z" fill="#FF5D01"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M162.074 168.499C156.074 173.63 144.098 177.128 130.304 177.128C113.373 177.128 99.1821 171.857 95.4172 164.769C94.0709 168.832 93.7692 173.481 93.7692 176.452C93.7692 176.452 92.8817 191.037 103.026 201.181C103.026 195.913 107.296 191.643 112.564 191.643C121.592 191.643 121.582 199.52 121.573 205.911V206.481C121.573 216.181 127.501 224.496 135.932 228C134.634 225.329 133.962 222.398 133.966 219.428C133.966 210.177 139.398 206.732 145.71 202.73C150.732 199.545 156.312 196.006 160.158 188.906C162.229 185.082 163.31 180.801 163.303 176.452C163.303 173.679 162.872 171.007 162.074 168.499Z" fill="url(#paint1_linear_206_664)"/>
    <defs>
    <linearGradient id="paint0_linear_206_664" x1="128" y1="0" x2="128" y2="256" gradientUnits="userSpaceOnUse">
    <stop offset="0.192708" stop-color="#FCB3B2"/>
    <stop offset="1" stop-color="#C587EE"/>
    </linearGradient>
    <linearGradient id="paint1_linear_206_664" x1="189.089" y1="126.765" x2="153.565" y2="201.132" gradientUnits="userSpaceOnUse">
    <stop stop-color="#FF1639"/>
    <stop offset="1" stop-color="#FF1639" stop-opacity="0"/>
    </linearGradient>
    </defs>
</svg>