---
import './../assets/css/global.css';
import Header from './../components/header.astro';
import Main from './../components/main.astro';
import Footer from './../components/footer.astro';
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DANH</title>
</head>
<body id="body">
	<Header/>
	<slot/>
	<Footer/>
</body>
</html>